@import '../variables.scss';


.main-layout {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: right;
    width: min(80vw);
    
    .games {
        display: flex;
        flex-direction: column;
        padding: 1em;
        background-color: black;
        border-radius: 10%;
        position: relative;
        img {
            position: relative;
            width: min(30vw, 250px);
            height: min(40vw, 300px);
            border-radius: 15%;
            transition: 1s ease;
            object-fit:cover;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
                transform: scale(0.9);
            }
        }

        .infos  {
            margin: 1em 0;
            width: min(20vw, 250px);
            .gameName {
                cursor: pointer;
            }
        }
        .middle {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            top: 0;
            opacity: 0;
            border-radius: 30%;
            transition: 1s ease;
        }
    }
}

// rules
.pricebefore {
    text-decoration: line-through;
    opacity: 0.5;
}

.tag {
    color: gray;
    // font-size: smaller;
}