@import '../variables.scss';


.main-layout {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    .games {
        display: flex;
        flex-direction: column;
        padding: 1em;
        background-color: black;
        border-radius: 10%;
        height: 500px;
        position: relative;
        img {
            position: relative;
            // top: 0;
            // left: 0;
            width: 250px;
            height: 300px;
            border-radius: 15%;
            transition: 1s ease;
            object-fit:cover;
        }
        .infos  {
            margin: 1em 0;
        }
        .middle {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            top: 0;
            opacity: 0;
            border-radius: 30%;
            transition: 1s ease;
        }
        .text {
            display: flex;
            padding: 0.6em;
            position: absolute;
            top: 100px;
            left: 50px;
            a {
                background: $clr-dark;
                padding: 0.5em;
                border-radius: 10px;
            } 
        } 
    }
}

// animations
.games:hover {
    img {
        opacity: 0.5;
        transform: scale(0.9);
    }
    .middle {
        opacity: 0.9;
    }
    .middle:hover {
        transform: scale(1.2);
    }
}

// rules
.pricebefore {
    text-decoration: line-through;
    opacity: 0.5;
}

.tag {
    color: gray;
    font-size: smaller;
}