@import '../variables.scss';

.featGame {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1em 0;
    background-color: black;
    border-radius: 10%;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &:hover >.infos, &:active >.infos{
        transform: translateY(0px);
        overflow: visible;
    }
    
    img {
        position: relative;
        width: min(70vw, 750px);
        transition: 0.7s ease;
        object-fit:contain;
        cursor: pointer;
        &:hover, &:active {
            filter: brightness(1.2) saturate(1.5);
            transform: scale(1.005);
        }
    }

    .infos  {
        width: 100%;
        position: absolute;
        bottom: 0;
        transform: translateY(60px);
        transition: 0.7s ease;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 1em;
        .gameName {
            cursor: pointer;
            font-family: $sf;
            text-align: center;
        }
    }
}

.main-layout {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    width: min(80vw);
    
    .games {
        display: flex;
        flex-direction: column;
        padding: 1em;
        background-color: black;
        border-radius: 10%;
        position: relative;
        img {
            position: relative;
            width: min(30vw, 250px);
            height: min(40vw, 300px);
            border-radius: 15%;
            transition: 0.7s ease;
            object-fit:cover;
            cursor: pointer;

            &:hover, &:active {
                filter: brightness(1.2) saturate(1.5);
                transform: scale(1.02);
            }
        }

        .infos  {
            margin: 1em 0;
            width: min(20vw, 250px);
            .gameName {
                cursor: pointer;
            }
        }
    }
}

.tag {
    color: gray;
}

// media queries
@media (max-width: 800px) {
    .featGame {
        .infos  {
            position: relative;
            transform: translateY(0px);
        }
    }
}

@media (max-width: 440px) {
    .featGame {
        border-radius: 10%;
        &:hover >.infos{
            transform: translateY(0px);
            overflow: visible;
        }
        img {
            position: relative;
            width: min(80vw, 300px);
            height: min(60vw, 600px);
            border-radius: 10%;
            object-fit: cover;
        }
        .infos  {
            .gameName {
                width: min(80vw, 300px);
            }
            h2 {
                font-size: 1.5rem;
            }
        }
    }
    .main-layout {
        gap: 0.5em;
        flex-wrap: wrap;
        justify-content: center;
        width: min(90vw);
        .games {
            padding: 0.1em;
            img {
                width: min(80vw, 300px);
                height: min(60vw, 600px);
            }
            .infos  {
                p {
                    font-size: 1rem;
                }
                margin: 1em 0;
                width: 100%;
                .gameName {
                    cursor: pointer;
                }
            }
        }
    }
}