aside {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    width: max-content;
    & a {
        display: flex;
        flex-direction: column;
        line-height: 2em;
    }
}