header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 4em 0 2em;
    gap: 20px;
    text-transform: uppercase;
    z-index: 10;
    background: linear-gradient(90deg,
    rgb(0, 0, 0) 66%,
    rgb(155, 8, 8) 80%,
    rgb(0, 0, 0) 100%
    );
    img {
        height: 71px;
        width: 100px;
    }
}