.main {
    display: flex;
    gap: 1em;
    z-index: 10;
}

article {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    .games {
        display: flex;
        flex-direction: column;
        padding: 1em;
        background-color: black;
        border-radius: 10%;
        height: 350px;
        img {
            width: 173px;
            height: 265px;
            border-radius: 15%;
            transition: 1s ease;
        }
        .infos  {
            margin: 1em 0;
        }
        .middle {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            bottom: 70%;
            opacity: 0;
            border-radius: 30%;
            transition: 1s ease;
        }
        .text {
            display: flex;
            padding: 0.6em;
            border-radius: 30%;
            a {
                background: $dark-clr;
                padding: 0.8em;
                border-radius: 30%;
            } 
        } 
    }
}

// animations
.games:hover {
    img {
        opacity: 0.5;
        transform: scale(0.9);
    }
    .middle {
        opacity: 0.9;
    }
    .middle:hover {
        transform: scale(1.2);
    }
}

// rules
.pricebefore {
    text-decoration: line-through;
    opacity: 0.5;
}

.tag {
    color: gray;
    font-size: smaller;
}