// improt glabal rules
@import './layout/_global-rules';

// import color var
@import './colors/_colors';

// import home scss
@import './components/home';

// // import media
// @import './layout/media';

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
