@import './variables.scss';

.game-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2em;
  z-index: 0;
  h1 {
    font-size: 3rem;
    white-space: normal;
    text-align: center;
  }
  .game-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    object-fit: cover;
    z-index: -1;
  }
  .game-img {
    width: min(60vw, 700px);
    border-radius: 30px;
    z-index: -2;
  }
  .game-desc {
    width: min(60vw, 700px);
  }
  .game-cln {
    width: min(60vw, 700px);
    display: flex;
    justify-content: space-around;
  }
  .game-btm-raw{
    width: min(60vw, 700px);
    a {
      font-family: $pf;
    }
  }
  .game-tags {
    width: min(60vw, 700px);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    color: gray;
    li {
      font-family: $pf;
      list-style-type: none;
    }
  }
}

@media (max-width: 1024px) {
  .game-layout {
    h1 {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: 440px) {
  .game-layout {
    margin-top: 150px;
    h1 {
      font-size: 1.5rem;
    }
    .game-img {
      width: min(80vw, 700px);
      border-radius: 30px;
    }
    .game-desc {
      width: min(80vw, 700px);
      font-size: larger;
    }
  }
}