@import './variables.scss';

/* global rules */
html,
body {
  padding: 0;
  margin: 0;
  color: $clr-light;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

a {
  color: inherit;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: min-content;
  background: linear-gradient(90deg,
  rgb(0, 0, 0) 66%,
  rgb(20, 0, 0) 80%,
  rgb(0, 0, 0) 100%,
  );
}

/* fonts */
p {
  font-family: $pf;
}
h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1em;
}

// 
@media (max-width: 1024px) {
    p {
      font-size: 0.9rem;
    }
    h2 {
      font-size: 1.2rem;
    }
}

@media (max-width: 440px) {
  p {
    font-size: 0.7rem;
  }
  h1 {
    font-size: 2rem;
    white-space: nowrap;
  }
  h2 {
    font-size: 0.6rem;
  }
}
