@import './variables.scss';

.main {
  display: flex;
  gap: 1em;
  z-index: 10;
  justify-content: center;
}

@media (max-width: 440px) {
  .main {
      margin-top: 100px;
  }
}

.main-layout {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    width: min(80vw);
    margin-top: 1em;
    .games {
        display: flex;
        flex-direction: column;
        background-color: rgb(0, 0, 0, 0.2);
        border-radius: 10%;
        position: relative;

        p {
            font-size: 0.8rem;
        }

        img {
            position: relative;
            border-radius: 10px;
            width: min(30vw, 300px);
            // height: min(30vw, 250px);
            transition: 0.7s ease;
            object-fit:contain;
            cursor: pointer;

            &:hover, &:active {
                filter: brightness(1.2);
                transform: scale(1.07);
            }
        }

        .infos  {
            margin: 1em 0;
            width: min(30vw, 300px);
            .gameName {
                cursor: pointer;
                width: min(30vw, 300px);
            }
            .infos-details {
                display: flex;
                justify-content: space-between;
                margin-top: 0.5em;
                .infos-left {
                    .oldPrice {
                        color: gray;
                        text-decoration: line-through;                
                    }
                }
                .infos-right {
                    width: min(15vw, 150px);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    .savings {
                        color: green;
                        span {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}

// rules
.pricebefore {
    text-decoration: line-through;
    opacity: 0.5;
}

.tag {
    color: gray;
    // font-size: smaller;
}

@media (max-width: 440px) {
    .main-layout {
        width: min(80vw);
        margin-top: 1em;
        .games {
            p {
                font-size: 1rem;
            }
            img {
                width: min(80vw, 300px);
                // height: min(30vw, 250px);
            }
            .infos {
                width: 100%;
                .gameName {
                    cursor: pointer;
                    width: 100%;
                }
            }
        }
    }
}