// global colors
$clr-main: rgb(253, 127, 32);
$clr-sec: rgb(224, 162, 80);
$clr-high: rgb(252, 46, 32);
$clr-low: rgba(78, 6, 12);
$clr-light: rgb(255, 255, 255);
$clr-dark: rgb(14, 14, 14);

// fonts
$mf: "Poppins", sans-serif;
$pf: 'Josefin Sans', sans-serif;
$sf: "Redressed", cursive;

// mixins
@mixin slideClrBtn($primeClr:$clr-high, $secClr:rgb(78, 6, 12)) {
  position: relative;
  cursor: pointer;
  background: $primeClr;
  border: none;
  z-index: 1;
  border-radius: 5px;
  padding: 5px 12.5px;

  display: inline-block;
   box-shadow:inset 1.5px 1.5px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);

  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: $secClr;
    border-radius: 5px;
      box-shadow:inset 1.5px 1.5px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }

  &:hover {
    color: #fff;
    &:after {
      left: 0;
      width: 100%;
    }
  }
}

@mixin slideSolidBtn($primeClr:$clr-light) {
  position: relative;
  cursor: pointer;
  color: $primeClr;
  border: none;
  z-index: 1;
  border-radius: 5px;
  padding: 5px 12.5px;
  background: linear-gradient(0deg, rgba(78, 6, 12,1) 0%, rgba(252, 46, 32,1) 100%);
  display: inline-block;

  &:hover {
    color: $primeClr;
    background: linear-gradient(0deg, rgba(252, 46, 32,1) 0%, rgb(255, 17, 0) 100%);

    &:after {
      left: auto;
      right: 0;
      width: 100%;
    }
  }
}